<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <img style="width:60px"; src="../img/img.png"/>
    <a class="navbar-brand text-light" href="#">Api-Servicios</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="btn btn-dark btn-outline-warning" href="http://localhost:3000/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-dark btn-outline-warning" href="/users/list">Servicios</a>
        </li>
       <li class="nav-item">
          <a class="btn btn-dark btn-outline-warning" href="/users/showCreate">Registrarse</a>
        </li>
         <li class="nav-item">
          <a class="btn btn-dark btn-outline-warning" href="/users/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-dark btn-outline-warning" href="#contact">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="row d-flex justify-content-center">
  
  <a><input type="search" id="inputService" placeholder="Buscar servicios"/></a>
  <p><button type="submit" id="btnFindService" class="btn btn-dark btn-outline-warning" '({{this.service}})"'>Buscar</button></p>
  
    <a><input type="search" id="inputLocation" placeholder="Buscar por ubicacion"/></a>
  <p><button type="submit" id="btnFindLocation" class="btn btn-dark btn-outline-warning" '({{this.location}})"'>Buscar</button></p>
  

</div>
<div class="row d-flex justify-content-center">
    {{#each users}}
    <div class="main-user">
      <img class="user-cover" src="{{this.coverUrl}}"/>
	    <p> Servicio: {{this.service}} </p>
	    <p> Nombre: {{this.name}} </p>
	    <p> Contacto: {{this.contact}}</p>
	    <p> Ubicacion: {{this.location}}</p>
      <div class="bg-light clearfix" style="display:flex;">
      <button class="btn btn-info btn-outline-light" onclick="viewUserDetail('{{this.id}}')">Modificar</button>
      <button class="btn btn-info btn-outline-light" onclick='deleteUser("{{this.id}}", "{{this.service}}", "{{this.name}}")'>Eliminar</button>
    </div>
    </div>
    {{/each}}
</div>

   <div id="confirmation-modal">
  <div id="confirmation-modal-content">
    <h4>¿Desea eliminar este usuario?</h4>
    <p id="confirmation-modal-detail"></p>
    <button class="btn btn-dark btn-outline-success" onclick="modalCancel()">Cancelar</button>
    <button class="btn btn-dark btn-outline-danger" onclick="modalAccept()">Eliminar</button>
  </div>
</div> 
 
<script>
  const modal = document.getElementById("confirmation-modal");
  const users = document.getElementById("main-user");
  //
  const btnFindService = document.getElementById("btnFindService");
  const inputService = document.getElementById("inputService");
  //
   const btnFindLocation = document.getElementById("btnFindLocation");
  const inputLocation = document.getElementById("inputLocation");
  //
  let idToBeDeleted = "";

  btnFindService.addEventListener("click", function () {
    inputService.value
    window.location.href = `/users/list?service=${inputService.value}`
  });
  
  btnFindLocation.addEventListener("click", function () {
    inputLocation.value
    window.location.href = `/users/list?location=${inputLocation.value}`
    console.log(btnFindLocation);
    console.log(inputLocation);
  });

  //
  function addUser() {
    window.location.href = '/users/showCreate';
  }

  function viewUserDetail(id) {
    window.location.href = `/users/detail?id=${id}`;
  }

  function deleteUser(id, service, name) {
    const modalDetail = document.getElementById("confirmation-modal-detail");
    modalDetail.textContent = `Se eliminará el usuario "${service}" de ${name}.`
    idToBeDeleted = id;
    modal.style.visibility = "visible";
  }

  function modalCancel() {
    modal.style.visibility = "hidden";
    idToBeDeleted = "";
  }

  function modalAccept() {
    window.location.href = `/users/delete?id=${idToBeDeleted}`;
  }

</script>